.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5%;
  background-color: #333;
  color: #fff;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #555;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.content {
  margin-left: 200px;
  padding: 20px;
}

footer {
  margin-left: 5%;
  color: #000000;
  padding: 20px;
}
